{extend name="../public/template/template.html"}
{block name="head"}
{__block__}

<head>
    <link rel="stylesheet" href="font-awesome_css">
    <link rel="stylesheet" href="winui_css">
    <style>
        .desk_show {
            display: none;
        }

        .line {
            height: 36px;
            ;
            border-style: solid;
            border-radius: 2px 0 0 2px;
            border-width: 1px;
            border-color: #e6e6e6;
        }
    </style>
</head>
{/block}
{block name="title"}添加菜单{/block}
{block name="body"}
{__block__}

<body>
    <div style="width:90%;margin:0 auto;padding-top:20px;">
        <div class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">* 父级菜单</label>
                <div class="layui-input-block">
                    <select id="parments" name="parment_id" lay-verify="parment">
                        <option value="0">根菜单</option>
                    </select>
                </div>
            </div>
            
            <div class="layui-form-item">
                <div class="layui-inline">
                        <div class="layui-inline">
                                <label class="layui-form-label">* 菜单名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="name" lay-verify="name" placeholder="请输入菜单名称" autocomplete="off"
                                        class="layui-input" maxlength="20">
                                </div>
                            </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">* 桌面显示</label>
                    <div class="layui-input-inline">
                        <div class="line">
                            <input type="checkbox" id="desk" type="checkbox" name="deskshow" lay-skin="switch"
                                lay-text="显示|隐藏" lay-filter="deskshow">
                        </div>

                    </div>
                </div>

                <div class="layui-inline">
                    <div id="title" class="layui-inline desk_show">
                        <label class="layui-form-label">* 窗口名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="title" lay-verify="title" placeholder="请输入窗口名称" autocomplete="off"
                                class="layui-input" maxlength="10">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                
                <div class="layui-inline">
                    <label class="layui-form-label">* 菜单图标</label>
                    <div class="layui-input-inline">
                        <input type="text" name="icon" lay-verify="icon" placeholder="请输入图标名称" autocomplete="off"
                            class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                        <label class="layui-form-label">页面地址</label>
                        <div class="layui-input-inline">
                            <input type="text" name="pageURL" lay-verify="pageURL" placeholder="请输入路由地址" autocomplete="off"
                                class="layui-input" maxlength="100">
                        </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="menu_add">立即提交</button>
                </div>
            </div>
        </div>
        <div class="tips">
            <p>Tips：</p>
            <p>1.开启【桌面显示】后【窗口名称】必须设置。不开启时【窗口名称】自动填写为【菜单名称】</p>
            <p>2.<a href="https://www.thinkcmf.com/font/font_awesome/icons.html" target="_blank">点击此处进行搜索</a>【菜单图标】，否则无法显示。</p>
            <p>3.建议设置路由地址。【路由地址】、【完整地址】必须填写一项</p>
        </div>
    </div>
    <script src="menu_add_js"></script>
</body>
{/block}