<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="jquery_js"></script>
    <script src="layui_js"></script>
    <link rel="stylesheet" href="font_css">
    <link rel="stylesheet" href="layui_css">
    <link rel="stylesheet" href="animate_css">
    <link rel="stylesheet" href="font-awesome_css">
    <link rel="stylesheet" href="winui_css">
    <title>后台管理系统</title>
</head>

<body>
    <!-- 桌面 -->
    <div class="winui-desktop">

    </div>

    <!-- 开始菜单 -->
    <div class="winui-start sp layui-hide">
        <!-- 左边设置 -->
        <div class="winui-start-left">
            <div class="winui-start-item bottom" data-text="个人中心"><i class="fa fa-user"></i></div>
            <!-- <div class="winui-start-item winui-start-individuation bottom" data-text="主题设置"><i class="fa fa-cog"></i></div> -->
            <div class="winui-start-item bottom logout" data-text="注销登录"><i class="fa fa-power-off"></i></div>
        </div>
        <!-- 中间导航 -->
        <div class="winui-start-center">
            <div class="layui-side-scroll">
                <ul class="winui-menu layui-nav layui-nav-tree" lay-filter="winuimenu"></ul>
            </div>
        </div>
        <!-- 右边磁贴 -->
        <div class="winui-start-right">
            <div class="layui-side-scroll">
                <div class="winui-nav-tile">
                </div>
            </div>
        </div>
    </div>

    <!-- 任务栏 -->
    <div class="winui-taskbar">
        <!-- 开始菜单触发按钮 -->
        <div class="winui-taskbar-start sp"><i class="fa fa-windows"></i></div>
        <!-- 任务项 -->
        <ul class="winui-taskbar-task"></ul>
        <!-- 任务栏时间 -->
        <div class="winui-taskbar-time"></div>
        <!-- 控制中心 -->
        <!-- <div class="winui-taskbar-console sp">
            <i class="fa fa-comment-o"></i>
        </div> -->
        <!-- 显示桌面 -->
        <div class="winui-taskbar-desktop">

        </div>
    </div>

    <!--控制中心-->
    <div class="winui-console layui-hide slideOutRight sp">
        <h1>最新通知</h1>
        <div class="winui-message">

        </div>
        <div class="winui-shortcut">
            <h2><span class="extend-switch sp">展开</span></h2>
            <div class="winui-shortcut-item">
                <i class="fa fa-cog"></i>
                <span>设置</span>
            </div>
            <div class="winui-shortcut-item">
                <i class="fa fa-cog"></i>
                <span>设置</span>
            </div>
            <div class="winui-shortcut-item">
                <i class="fa fa-cog"></i>
                <span>设置</span>
            </div>
            <div class="winui-shortcut-item">
                <i class="fa fa-cog"></i>
                <span>设置</span>
            </div>
            <div class="winui-shortcut-item">
                <i class="fa fa-cog"></i>
                <span>设置</span>
            </div>
            <div class="winui-shortcut-item">
                <i class="fa fa-cog"></i>
                <span>设置</span>
            </div>
            <div class="winui-shortcut-item">
                <i class="fa fa-cog"></i>
                <span>设置</span>
            </div>
            <div class="winui-shortcut-item">
                <i class="fa fa-cog"></i>
                <span>设置</span>
            </div>
            <div class="winui-shortcut-item">
                <i class="fa fa-cog"></i>
                <span>设置</span>
            </div>
            <div class="winui-shortcut-item">
                <i class="fa fa-cog"></i>
                <span>设置</span>
            </div>
            <div class="winui-shortcut-item">
                <i class="fa fa-cog"></i>
                <span>设置</span>
            </div>
            <div class="winui-shortcut-item">
                <i class="fa fa-cog"></i>
                <span>设置</span>
            </div>
            <div class="winui-shortcut-item">
                <i class="fa fa-cog"></i>
                <span>设置</span>
            </div>
            <div class="winui-shortcut-item">
                <i class="fa fa-cog"></i>
                <span>设置</span>
            </div>
            <div class="winui-shortcut-item">
                <i class="fa fa-cog"></i>
                <span>设置</span>
            </div>
            <div class="winui-shortcut-item">
                <i class="fa fa-cog"></i>
                <span>设置</span>
            </div>
        </div>
    </div>
    <script src="main_js"></script>
</body>

</html>